src/main/resources/xsd_files/response/xsd/GdpByCountryNameAnsYearResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/GdpByCountryNameAnsYear"
	xmlns:tns="http://www.example.org/GdpByCountryNameAnsYear"
	elementFormDefault="qualified">

	<element name="gdpByCountryNameAndYearResponse" type="tns:GdpByCountryNameAndYearResponse"></element>

	<complexType name="GdpByCountryNameAndYearResponse">
		<sequence>
			<element name="gdp" type="string"></element>
		</sequence>
	</complexType>
</schema>