src/main/resources/xsd_files/response/xsd/UnemploymentByCountryNameAndYearResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/UnemploymentByCountryNameAndYearResponse"
	xmlns:tns="http://www.example.org/UnemploymentByCountryNameAndYearResponse"
	elementFormDefault="qualified">

	<element name="unemploymentByCountryNameAndyearResponse" type="tns:UnemploymentByCountryNameAndYearResponse"></element>

	<complexType name="UnemploymentByCountryNameAndYearResponse">
		<sequence>
			<element name="unemployment" type="double"></element>
		</sequence>
	</complexType>
</schema>