src/main/resources/xsd_files/model/xsd/CountryNameAndYear.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.countries.com/CountryNameAndYear"
	xmlns:tns="http://www.countries.com/CountryNameAndYear"
	elementFormDefault="qualified">

	<element name="countryNameAndYear" type="tns:CountryNameAndYear"></element>

	<complexType name="CountryNameAndYear">
		<sequence>
			<element name="country_name" type="string"></element>
			<element name="year" type="int"></element>
		</sequence>
	</complexType>
</schema>