src/main/resources/xsd_files/model/xsd/Countries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.countries.com/Country"
	xmlns:tns="http://www.countries.com/Country" elementFormDefault="qualified">

	<element name="country" type="tns:Country"></element>

	<complexType name="Country">
		<sequence>
			<element name="country_name" type="string"></element>
			<element name="country_code" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="Countries">
		<sequence>
			<element name="countries" type="tns:Country" minOccurs="0"
				maxOccurs="unbounded"></element>
		</sequence>
	</complexType>


</schema>