src/main/resources/xsd_files/response/GdpByYearResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="gdpByYearResponse">
    <xs:sequence>
      <xs:element name="countryNameAndGdp" type="countryNameAndGdp" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countryNameAndGdp">
    <xs:sequence>
      <xs:element name="country_name" type="xs:string" minOccurs="0"/>
      <xs:element name="gdp" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

