src/main/resources/xsd_files/response/UnemploymentByYearResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="unemploymentByYearResponse">
    <xs:sequence>
      <xs:element name="countryNameAndYear" type="countryNameAndUnemployment" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countryNameAndUnemployment">
    <xs:sequence>
      <xs:element name="country_name" type="xs:string" minOccurs="0"/>
      <xs:element name="unemployment" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

