src/main/resources/xsd_files/model/CountryDetails.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="countryDetails">
    <xs:sequence>
      <xs:element name="area" type="xs:long"/>
      <xs:element name="population" type="xs:long"/>
      <xs:element name="capital" type="xs:string" minOccurs="0"/>
      <xs:element name="currency" type="xs:string" minOccurs="0"/>
      <xs:element name="gros_domestic_product" type="xs:long"/>
      <xs:element name="gros_domestic_product_per_person" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

