src/main/resources/xsd_files/request/CountryNameAndYearRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="countryNameAndYearRequest">
    <xs:sequence>
      <xs:element name="countryNameAndYear" type="countryNameAndYear" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countryNameAndYear">
    <xs:sequence>
      <xs:element name="country_name" type="xs:string" minOccurs="0"/>
      <xs:element name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

